<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><%= title %></h1>
        </div>

        <div class="post">
            <p><%= content %></p>
            <a href="/" class="btn">Home</a>
        </div>
    </div>
</body>
</html>
